# Dependências

/node_modules
/.pnp
.pnp.js

# Next.js build

/.next/
/out/

# Produção

/build

# Logs

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variáveis de ambiente

.env
.env.local
.env.example
.env.development.local
.env.test.local
.env.production.local

# Vercel

.vercel

# TypeScript

*.tsbuildinfo
next-env.d.ts

# Sistema

.DS_Store
Thumbs.db

# IDEs

.vscode/
.idea/

# Testes

/coverage

# Cache

.cache
.parcel-cache

# ESLint

.eslintcache

# Arquivos temporários

*.log
*.tmp
